{% extends 'base.html.twig' %}
{% block body %}
     {{ form_start(form) }}
        {{ form_row(form.motif) }}
        {{ form_row(form.date) }}
        {{ form_row(form.agreeTerms) }}
        <button type="submit" class="btn btn-success">
            {%if editMode %}
                Editer
            {% else %}
                Enregister
            {% endif %}
        </button>
     {{ form_end(form) }}
{% endblock %}