{% extends 'base.html.twig' %}
{% block body %}
     {{ form_start(form) }}
        {{ form_row(form.libelle) }}
        {{ form_row(form.niveau) }}
        {{ form_row(form.filiere) }}
        {{ form_row(form.agreeTerms) }}
        <button type="submit" class="btn btn-success">
            {%if editMode %}
                Editer
            {% else %}
                Enregister
            {% endif %}
        </button>
     {{ form_end(form) }}
{% endblock %}