{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% set i = 0 %}
<table class="container mt-5">
    <tr class="bg-info text-dark text-center">
        <th>N°</th>
        <th>Nom Complet</th>
        <th>Login</th>
        <th>Sexe</th>
        <th>Actions</th>
    </tr>
{% for value in etudiants %}
    <tr class="text-center">
        <td>{% set i = i + 1 %} {{ i }}</td>
        <td>{{value.nomComplet}}</td>
        <td>{{value.email}}</td>
        <td>{{value.sexe}}</td>
        <td>
            <a class="btn btn-outline-warning" href="/etudiant/{{ value.id }}/edit">Modifier</a>
            <a class="btn btn-outline-secondary" href="/etudiant/{{ value.id }}/Reinscrire">Réinscrire</a>
            <button class="btn btn-outline-danger">Supprimer</button>
            <button class="btn btn-outline-primary">Details</button>
        </td>
    </tr> 
    {% endfor %}
</table>
{% endblock %}
